body {
  font-family: "Montserrat", serif;
  background-color: #f3f3f3;
}

.font-poppins {
  font-family: "Poppins", serif;
}
.font-mon {
  font-family: "Montserrat", serif;
}

/* Add this in your global CSS or Tailwind config */
.scrollbar-thin {
  scrollbar-width: 2px; /* Firefox */
}

.scrollbar-thumb-gray-400 {
  scrollbar-color: #00274d transparent; /* Firefox */
}

.scrollbar-track-gray-200 {
  scrollbar-color: transparent #00274d; /* Firefox */
}
/* For Chrome/Edge/Safari */
::-webkit-scrollbar {
  width: 5px; /* Set scrollbar width to 5px */
  height: 5px; /* Optional: Set scrollbar height for horizontal scrollbars */
}

/* For Chrome/Edge/Safari */
::-webkit-scrollbar {
  height: 8px; /* Adjust the height of the scrollbar */
}
::-webkit-scrollbar-thumb {
  background-color: #00274d;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.sticky-height {
  height: calc(100vh-80px);
}

@keyframes goToTop {
  0% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(1.3rem);
  }
}

.scrolling-container {
  display: flex;
  animation: scroll 15s linear infinite;
}
.animate-goToTop {
  animation: goToTop 1s linear infinite alternate-reverse;
}
